.outer__body
{
    display: flex;
}

.left__body
{
    width: 20%;
    height:155vh
}

.right__body
{
    width: 100%;
    color:black;
    font-family: 'Nunito Sans', sans-serif;

}
.left__nav
{
    display: flex;
    position: relative;
    background-color: #495057;
}

.right__nav
{
    display: flex;
    background-color: rgb(27, 26, 26);
    position: relative;
    height: 10vh;
}

.welcome
{
    color:white;
    font-family: 'Nunito Sans', sans-serif;
    padding-left: 1rem;
    position: absolute;
    right:2rem
}

.messages
{
    color:white;
    font-family: 'Nunito Sans', sans-serif;
    padding-left: 1rem;
    position: absolute;
}

.right__body__body
{
    background-color: red;
}
.message__container
{
    background-color: #008080;
    padding:1rem;
    right:13rem;
    color:white;
    font-family: 'Nunito Sans', sans-serif;
    padding: 0.5rem 1rem;
    position: absolute;
    margin-top: 0.7rem;
    border-radius: 6px;
}

.bise
{
    color:white;
    font-family: 'Nunito Sans', sans-serif;
    padding-left: 1rem;
}

.toggler
{
    margin-top: 1.2rem;
    position: absolute;
    right:1rem
}
.toggler > div
{
    background-color: white;
    margin-bottom: 0.1rem;
    width: 2.5vw;
    height: 1vh;
    border-radius: 6px;
}

.main__navigation
{
    padding-left: 1rem;
    color:white;
}

.left__body
{
    background-color: rgb(27, 26, 26);
    height: 100vh;
    font-family: 'Nunito Sans', sans-serif;
}

.dashboard__btn
{
    display: flex;
    margin-left: 1rem;
    color:white;
    border: 1px solid white;
    width: 70%;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    border-radius: 4px;
    margin-bottom: 1rem;
}

.dashboard__btn__active
{
    display: flex;
    margin-left: 1rem;
    color:white;
    width: 70%;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    border-radius: 4px;
    margin-bottom: 1rem;
    background-color: #008080;
}

.dashboard__btn__active :hover
{
    cursor: pointer;
}

.dashboard__btn:hover
{
    background-color: #008080;
    border: 1px solid rgb(27, 26, 26);
    cursor: pointer;
}

.dashboard
{
    margin: 0rem;
    padding-left: 0.5rem;
}

.right__content__external
{
    text-align: center;
}

.right__content__internal
{
    margin: auto;
    width: 50%;
    color: white;
    margin-top: 2rem;
    background-color: black;
    padding: 1rem;
    border-radius: 6px;
}

.pending
{
    background-color: green;
    display: flex;
    width: 20%;
    border-radius: 60px;
    padding: 0.3rem;

}

.pending__details
{
    background-color: #008080;
    display: flex;
    width: 20%;
    border-radius: 6px;
    padding: 0.3rem;
    margin-top: 1rem;

}

.pending__details__remove
{
    background-color: red;
    display: flex;
    width: 20%;
    border-radius: 6px;
    padding: 0.3rem;
    margin-top: 1rem;

}

.title
{
    margin:0rem;
    text-align: left;
    margin-top: 1rem;
    font-family: 'Nunito Sans', sans-serif;

}
.pending__institutes
{
    width: 33%;
    margin-top: 2rem;
    margin-left: 1rem;
    padding: 1rem;
    background-color: black;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    border-radius: 3px;
}

.pending__school
{
    text-align: center;
    margin: 0;
    margin: auto;
}

.external
{
    display: flex;
    position: relative;
}

.internal
{
    position: absolute;
    color: black;
    width: 100%;
}

.internal__internal
{
    width: 50%;
    background-color: #495057;
    margin: auto;
    height: 155vh;
    color: white;
}